<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Zinfin">
  <meta name="google-site-verification" content="f_YfGpOcLbSzXjgh7Sok66ZBFNjvH2Lt5KCZwxG9AwM" />
  <meta name="description" content={{#if description}} {{description}} {{else}} Professional blockchain training course
    by Blockdegree {{/if}}>
  <meta charset="UTF-8">
  <link rel="icon" href="https://raw.githubusercontent.com/XinFinOrg/Blockchain_Tutorial-website/live/dist/img/brand/blockdegree_favicon.png">
  <title>
    {{#if title}} {{title}} {{else}} Blockdegree Blockchain Training {{/if}}
  </title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
  {{#> head-block}}
  {{> includes/head }}
  {{/head-block}}
</head>

<body{{#if pageClass}} class={{pageClass}}{{/if}}>
  <header id="header">
    {{> includes/nav}}
  </header>

  <section>
    {{#> body-block}}
    {{{body}}}
    {{/body-block}}
  </section>

  <footer>
    {{#> footer-block}}
    {{> includes/footer }}
    {{/footer-block}}
  </footer>


  {{> includes/footerScripts }}
  {{#> scripts-block}}
  {{{scripts}}}
  {{!-- Custom scripts per page can be added. --}}
  {{/scripts-block}}
  </body>

</html>