<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Zinfin">
  <meta name="google-site-verification" content="f_YfGpOcLbSzXjgh7Sok66ZBFNjvH2Lt5KCZwxG9AwM" />
  <meta name="description" content={{#if description}} {{description}} {{else}} Blockdegree is an online blockchain course powered by XinFin where certificates are stored on XinFin Network.{{/if}}>
  <meta charset="UTF-8">
  <link rel="icon" href="/img/brand/blockdegree_favicon.png">
  <title>
    {{#if title}} {{title}} {{else}} Online Blockchain Training and certification {{/if}}
  </title>
  {{#> head-block}}
  {{> includes/head }}
  {{/head-block}}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145072089-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-145072089-1');
  </script>
</head>

<body{{#if pageClass}} class={{pageClass}}{{/if}}>
  <header id="header">
    {{> includes/nav}}
  </header>

  <section>
    {{#> body-block}}
    {{{body}}}
    {{/body-block}}
  </section>

  <footer>
    {{#> footer-block}}
    {{> includes/footer }}
    {{/footer-block}}
  </footer>


  {{> includes/footerScripts }}
  {{#> scripts-block}}
  {{{scripts}}}
  {{!-- Custom scripts per page can be added. --}}
  {{/scripts-block}}
  </body>

</html>