{{> includes/hero hero-title="Blockchain Professional Exam"}}
<div class="container__cstm">

  <h2>
    Blockchain Professional Exam
  </h2>

  <div id="exam">

    <form id="basicExamForm">
      {{#each exam}}
      <div class="card py-3 px-5 mb-4">
        <h4 id="q{{@index}}" class="mb-3 exam-qns">
          {{this.question}}
        </h4>

        <div class="row">
          {{#each choices as |choice| }}
          <div class="col-12 col-sm-6">
            <div class="exam-choice">
              <input type="radio" id="q{{@../index}}-c{{@index}}" name="{{@../index}}" value="{{@index}}" />
              <label for="q{{@../index}}-c{{@index}}">{{choice}}</label>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
      {{/each}}
      <div class="text-right">
        <input id="exam-submit" type="submit" class="btn btn-primary py-2 mt-4 text-white"
          onclick="this.disabled=true; this.value='Sending…';" value="Submit your answers">
      </div>
    </form>
  </div>

</div>
<script src="/js/exam.js"></script>