<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="img/fav.png">
  <meta name="author" content="Xinfin">
  <meta name="description" content={{description}}>
  <meta charset="UTF-8">
  <title>
    {{title}}
  </title>
  <link rel="icon" href="/img/brand/blockdegree_favicon.png">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
  {{#> head-block}}
  {{> includes/head }}
  {{/head-block}}
  <script>

    window.onload = function () {
      callCurriculum();
    }

    function callCurriculum() {

      $.ajax({
        method: "get",
        url: "/api/callCurriculum",
        success: result => {
          console.log("ok")
        }
      })
    }
  </script>
</head>

<!--<body class="courses nav--sticky">-->

<body class="courses">
  <header id="header">
    {{> includes/nav}}
  </header>

  <section id="course__info">
    <div class="hero-banner courses-banner-bg bg-primary">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md-6 p-4">
            <!--<iframe width="100%" height="315" src="{{video}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->

            <div class="embed-responsive embed-responsive-16by9 embed-div">
              <iframe class="embed-responsive-item" src="{{video}}" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen=""></iframe>
            </div>

          </div>
          <div class="col-12 col-md-6 p-4">
            <!--<h1 class="text-white" style="font-size: 38px;">{{title}}</h1>-->
            <h1 class="text-white mb-3">{{title}}</h1>
            <div class="text-white">
              <p class="mb-3">{{sypnosis}}</p>

              <p class="mb-3">{{duration}}</p>
            </div>
            <a href="/courses/{{slug}}"><button type="button" class="btn btn-gradient enroll-btn">
                Login And Get Free Course
              </button></a>
          </div>

        </div>
      </div>
    </div>

    <div class="container__cstm">
      <div class="section-gap">
        <h2 class="mb-3">Overview</h2>
        <div>{{overview}}</div>
      </div>
      <div class="section-gap">
        <h2 class="mb-3">Take-away skills</h2>
        <div>{{skills}}</div>
      </div>
      <div class="section-gap">
        <h2 class="mb-3">Prerequisites</h2>
        <div>

          {{#each prerequisites as |prereq|}}
          <p>
            {{prereq}}
          </p>
          {{/each}}

        </div>
      </div>
      <div class="section-gap">
        <h2 class="mb-3">Curriculum</h2>
        <div class="accordion" id="acc__course-info">
          {{#each curriculum as |ccm|}}
          <div class="card">
            <div class="card-header bg-white {{#if ccm.sub-topic}}more{{/if}}" id="topic-{{@index}}"
              data-toggle="collapse" data-target="#ccm-{{@index}}" aria-controls="ccm-{{@index}}">
              <div class="row align-items-center justify-content-between">
                <h4 class="col-10">{{ccm.topic}}</h4>
                {{#if ccm.sub-topic}}
                <div class="float-right col-1">
                  &#x25BC;
                </div>
                {{/if}}
              </div>
            </div>

            {{#if ccm.sub-topic}}
            <div id="ccm-{{@index}}" class="collapse mx-3 mt-3 mb-0" arial-labelledby="topic-{{@index}}"
              data-parent="#acc__course-info">
              {{#each ccm.sub-topic as |sub|}}
              <p class="mb-3">{{sub}}</p>
              {{/each}}
            </div>
            {{/if}}
          </div>
          {{/each}}
        </div>
      </div>
    </div>

    <div class="row mx-0 align-items-center text-center bg-secondary cta">
      <div class="col py-5">
        <a href="/courses/{{slug}}"><button type="button" class="btn btn-warning btn-cstm-rounded px-5 enroll-btn">
            Start learning
          </button></a>
      </div>
    </div>
  </section>

  <footer>
    {{> includes/footer }}
  </footer>
  {{> includes/footerScripts }}
</body>

</html>