{{> includes/hero hero-title="Exams"}}

<style>
  [data-notify="container"][class*="alert-pastel-"] {
    background-color: rgb(255, 255, 238);
    border-width: 0px;
    border-left: 15px solid rgb(255, 240, 106);
    border-radius: 0px;
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.3);
  }

  [data-notify="container"].alert-pastel-info {
    border-left-color: greenyellow;
  }

  [data-notify="container"][class*="alert-pastel-"]>[data-notify="title"] {
    color: rgb(80, 80, 57);
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
  }
</style>
<div class="container__cstm">
  {{!-- This is exam list --}}
  <div>
    <h3>Points to Note</h3><br>
    <ol>
      <li>Below are the current courses available on our platform. Please <strong>ENROLL</strong> in the course of your
        choice.</li>
      <li> If you have already enrolled in one of our courses then you <strong>Take Exam</strong> for certification
        after completing
        the <strong>whole curriculum</strong> for that given course.</li>
    </ol>
    <div><strong>Warning:</strong> Check / update your name before taking exam as the certificate will be generated
      on that name only & cannot be changed.
    </div>
    <br>
  </div>

  <div class="row" id="exams__list">
    {{#each json.courses as |course index|}}
    <div class="col-lg-4 col-md-4 single-exam__course mb-4">
      <div class="card height--full">
        <div class="card-body row mx-0 p-0">
          <h3 class="card-title p-4 text-center mb-0">{{this.title}}</h3>
          <div class="card-text p-4 px-sm-4 py-5 width--full">
            {{#each pointers as |point| }}
            &#10004; {{ point }}<br>
            {{/each}}
            {{this.text}}
            {{!-- Here is some example text --}}
            <!--- Replace with text data {{this.text}}--->
          </div>
          <!--- Replace with a href data or write post function, depending on logic --->
          <div class="card-price width--full text-center">
            {{#if (lookup ../data this.type) }}
            <h2 class="pb-4 text-white"></h2>
            {{else}}
            <h2 class="pb-3 text-white" id="{{this.type}}curr_price">${{this.price}}</h2>
            {{/if}}
            {{#if (lookup ../data this.type) }}
            <button onclick="takeExam({{this.type}})" class="btn text-body" data-price="{{this.price}}"
              id="{{this.type}}">
              Take Exam
            </button>
            {{else}}
            <!--<div>
              <input type="text" name="codeName" placeholder="promo-code (optional)" id="{{this.type}}codeName">
              <button type="button" onclick="checkCode({{this.type}},{{this.price}})">Apply Code</button>
            </div>-->

            <div class="promoCode-block" id="{{this.type}}PromoCodeBlock">
              <div class="input-group mb-3">
                <input type="text" class="form-control" name="codeName" placeholder="promo-code (optional)"
                  id="{{this.type}}codeName">
                <div class="input-group-append">
                  <button type="button" class="btn btn-dark"
                    onclick="checkCode({{this.type}},{{this.price}})">Apply</button>
                </div>
              </div>
            </div>

            <button onclick="pay({{this.type}},{{this.price}})" class="btn text-body btn-light mb-3"
              data-price="{{this.price}}" id="{{this.type}}">
              ENROLL
            </button>
            <div class="promoCode-btn" id="{{this.type}}PromoCodeBtn">*Apply promo code</div>
            {{/if}}

          </div>
        </div>
      </div>
    </div>
    {{/each}}

  </div>
</div>

{{#if json.courses}}
<script type="text/javascript">
  console.log("called script")
  if (sessionStorage.getItem("shown_toast_exams") == 1) {
    // is showed in current session, no need to show again
  }
  else {
    console.log(sessionStorage.getItem("shown_toast_exams"))
    $.notify({
      title: 'AWAIL FREE CERTIFICATES',
      message: 'Use promocode <strong>code10</strong> to get ENROLL for free on <strong>ANY</strong> course. HURRY! offer only for a limited time'
    }, {
      type: 'pastel-info',
      delay: Date.now(),
      template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
        '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
        '<span data-notify="title">{1}</span>' +
        '<span data-notify="message">{2}</span>' +
        '</div>',
      placement: {
        from: "bottom"
      }
    });
    sessionStorage.setItem("shown_toast_exams", 1)
  }


  function takeExam(slug) {
    if (slug.id === "course_1") {
      window.location = '/blockchain-basic-exam'
    } else if (slug.id === "course_2") {
      window.location = '/blockchain-advanced-exam'
    } else if (slug.id === "course_3") {
      window.location = '/blockchain-professional-exam'
    } else {
      window.location = '/'
    }

  }

  function pay(course_id, price) {
    const email = localStorage.getItem('email');
    const codeName = document.getElementById(course_id.id + "codeName").value;
    console.log(course_id.id + "codeName");
    console.log(codeName);
    $(`#${course_id.id}`).attr("disabled", true);
    $.ajax({
      url: "/pay",
      method: 'post',
      data: { 'email': email, 'course_id': course_id.id, 'price': price, codeName: codeName },
      success: function (data) {
        console.log(data);
        if (data.status == '200')
          window.location.href = data.link;
        else if (data.status == "201")
          if (!alert(data.message)) { window.location.reload(); }
          else
            alert(data.message);
      }
    });
  }

  function checkCode(course_id, price) {
    const codeName = document.getElementById(course_id.id + "codeName").value;
    $.ajax({
      url: "/api/checkCode",
      method: "post",
      data: { codeName: codeName },
      success: (result) => {
        console.log(result);
        if (result.error == null) {
          const finalAmt = Math.round((parseFloat(price) - parseFloat(result.discAmt)) * 100) / 100;
          if (finalAmt < 0) {
            // free course
            document.getElementById(course_id.id + "curr_price").innerHTML = "$0";
          }
          else {
            document.getElementById(course_id.id + "curr_price").innerHTML = "$" + finalAmt;
          }
        }
        else {
          $.notify(`Some error occurred, please try agina later`, { type: "danger" })
        }
      }
    })
  }

</script>
{{/if}}