{{> includes/hero hero-title="Exam Result"}}
<div class="container__cstm">

  <h3>
    Exam Result
  </h3>

  <div id="exam">

    <form id="">
      {{#if exam.examBasic }}
      <div class="card py-3 px-5 mb-4">
        <h3 class="mb-3 exam-qns" style="color:#2073D4;">
          Blockchasin Basic Result
        </h3>
        <ul>
          <li style="display: flex;flex-direction:column">
            <strong><span>Attempts:</span></strong> {{{total}}}
            <strong><span>marks:</span></strong> {{{obtainedMarks}}}
            <strong><span>Percent:</span></strong> {{{percent}}} %
            <strong><span>Certificate Hash:</span></strong> {{{certificateHash}}}
            {{#if examStatus}}
            <strong><span>Exam Status:</span></strong> <span class="greenText"><strong>Pass</strong></span>
            <div class="fb-share-button" data-href="https://blockdegree.org" data-layout="button_count"
              data-size="large"><a target="_blank"
                href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fblockdegree.org%2F&amp;src=sdkpreparse"
                class="fb-xfbml-parse-ignore">FB-Share</a></div>
            <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Hello%20world"
              data-size="large">
              Tweet</a>

            {{!-- Ideally we dont want to use a form for this, need to use asynchronous requests, something like what react does --}}
            <p>
              Post on Socials:
              <br>
              <form target="_blank" method="post" action="/api/shareOnTwitter" >
                <input type="hidden" placeholder="Enter post status" name="msg" />
                <input type="hidden" />
              </form>
              <form target="_blank" method="post" action="/api/shareOnTwitter">
                <input type="text" placeholder="Enter post status" name="msg" />
                <input type="submit" />
              </form>
              <form target="_blank" method="post" action="/api/shareOnLinkedin">
                <input type="text" placeholder="Enter post status" name="msg" />
                <input type="submit" />
              </form>
            </p>
            {{else}}
            <strong><span>Exam Status:</span></strong> <span class="redText"><strong>Fail</strong></span>
            {{/if}}
          </li>
        </ul>

      </div>
      <input class="ITR" type="button" value="Retake Exam"
        onclick="window.location.href='https://blockdegree.org/blockchain-basic-exam'" />
      {{else if exam.examAdvanced}}
      <div class="card py-3 px-5 mb-4">
        <h3 class="mb-3 exam-qns" style="color:#2073D4;">
          Blockchain Advanced Result
        </h3>
        <ul>
          <li style="display: flex;flex-direction:column">
            <strong><span>Attempts:</span></strong> {{{total}}}
            <strong><span>marks:</span></strong> {{{obtainedMarks}}}
            <strong><span>Percent:</span></strong> {{{percent}}} %
            <strong><span>Certificate Hash:</span></strong> {{{certificateHash}}}
            {{#if examStatus}}
            <strong><span>Exam Status:</span></strong> <span class="greenText"><strong>Pass</strong></span>
            <div class="fb-share-button" data-href="https://blockdegree.org" data-layout="button_count"
              data-size="large"><a target="_blank"
                href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fblockdegree.org%2F&amp;src=sdkpreparse"
                class="fb-xfbml-parse-ignore">FB-Share</a></div>
            <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Hello%20world"
              data-size="large">
              Tweet</a>
            {{!-- Ideally we dont want to use a form for this, need to use asynchronous requests, something like what react does --}}
            <p>
              Post on Socials:
              <br>
              <form target="_blank" method="post" action="/api/shareOnTwitter" >
                <input type="hidden" placeholder="Enter post status" name="msg" />
                <input type="hidden" />
              </form>
              <form target="_blank" method="post" action="/api/shareOnTwitter">
                <input type="text" placeholder="Enter post status" name="msg" />
                <input type="submit" />
              </form>
              <form target="_blank" method="post" action="/api/shareOnLinkedin">
                <input type="text" placeholder="Enter post status" name="msg" />
                <input type="submit" />
              </form>
            </p>

            {{else}}
            <strong><span>Exam Status:</span></strong> <span class="redText"><strong>Fail</strong></span>
            {{/if}}
          </li>

        </ul>

      </div>
      <input class="ITR" type="button" value="Retake Exam"
        onclick="window.location.href='https://blockdegree.org/blockchain-advanced-exam'" />

      {{else if exam.examProfessional}}
      <div class="card py-3 px-5 mb-4">
        <h3 class="mb-3 exam-qns">
          Blockchasin Professional Result
        </h3>
        <ul>
          <li style="display: flex;flex-direction:column">
            <strong><span>Attempts:</span></strong> {{{total}}}
            <strong><span>marks:</span></strong> {{{obtainedMarks}}}
            <strong><span>Percent:</span></strong> {{{percent}}} %
            <strong><span>Certificate Hash:</span></strong> {{{certificateHash}}}
            {{#if examStatus}}
            <strong><span>Exam Status:</span></strong> <span class="greenText"><strong>Pass</strong></span>
            <div class="fb-share-button" data-href="https://blockdegree.org" data-layout="button_count"
              data-size="large"><a target="_blank"
                href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fblockdegree.org%2F&amp;src=sdkpreparse"
                class="fb-xfbml-parse-ignore">FB-Share</a></div>
            <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Hello%20world"
              data-size="large">
              Tweet</a>
            {{!-- Ideally we dont want to use a form for this, need to use asynchronous requests, something like what react does --}}
            <p>
              Post on Socials:
              <br>
              <form target="_blank" method="post" action="/api/shareOnTwitter" >
                <input type="hidden" placeholder="Enter post status" name="msg" />
                <input type="hidden" />
              </form>

              <form target="_blank" method="post" action="/api/shareOnTwitter">
                <input type="text" placeholder="Enter post status" name="msg" />
                <input type="submit" />
              </form>
              <form target="_blank" method="post" action="/api/shareOnLinkedin">
                <input type="text" placeholder="Enter post status" name="msg" />
                <input type="submit" />
              </form>
            </p>
            {{else}}
            <strong><span>Exam Status:</span></strong> <span class="redText"><strong>Fail</strong></span>
            {{/if}}
          </li>

        </ul>

      </div>
      <input class="ITR" type="button" value="Retake Exam"
        onclick="window.location.href='https://blockdegree.org/blockchain-professional-exam'" />

      {{/if}}
      {{!--<ul>
          <li>
            <span><strong>we can shortly send your certifiacte in your Maild ID</strong></span>
          </li>
        </ul>--}}
      {{!-- <div class="text-right">
        <input id="exam-submit" type="submit" class="btn btn-primary py-2 mt-4 text-white" value="Submit your answers">
      </div> --}}
    </form>
  </div>

</div>
<script src="/js/exam.js"></script>