{{> includes/hero hero-title="Exam"}}
<div class="container__cstm">

  <div>
    Some information on the exam
  </div>

  <div id="exam">

    {{#each exam}}
    <div class="card py-3 px-5 mb-4">
      <h4 id="q{{@index}}" class="mb-3">
        {{this.question}}
      </h4>

      <div class="row">
        {{#each choices as |choice| }}
        <div class="col-12 col-sm-6">
          <div class="exam-choice">
            <input type="radio" id="q{{@../index}}-c{{@index}}" name="q{{@../index}}" value="{{choice}}"/>
            <label for="q{{@../index}}-c{{@index}}">{{choice}}</label>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    {{/each}}
  </div>

</div>

{{#*inline "scripts-block"}}
<script src="/js/exam.js"></script>
{{/inline}}
