{{> includes/hero hero-title="Exam Result"}}
<div class="container__cstm">

  <h3 class="exam-result-heading">Exam Result</h3>

  <div id="exam">

    <form id="">
      {{#if exam.examBasic }}
      <div class="card mb-4">
        <div class="card-body bg-light">
          <h3 class="exam-qns exam-result-subHeading">Blockchain Basic Result</h3>

          <ul class="list-group list-group-flush mb-4">
            <li class="list-group-item border-top-0"><span>Total Questions :</span> {{{total}}}</li>
            <li class="list-group-item"><span>Marks :</span> {{{obtainedMarks}}}</li>
            <li class="list-group-item"><span>Percentage :</span> <span class="round-off">{{{percent}}}</span> %</li>
            {{#if examStatus}}
            <li class="list-group-item"><span>Certificate Hash :</span> <a href="https://ipfs-gateway.xinfin.network/{{certificateHash}}" target="_blank">{{{certificateHash}}}<a></li>
            <li class="list-group-item border-bottom-0"><span>Exam Status :</span> <span
                class="greenText fw-6">PASS</span></li>
            {{else}}
            <li class="list-group-item border-bottom-0"><span>Exam Status :</span> <span
                class="redText fw-6">FAIL</span>
              {{/if}}
          </ul>
          {{#if examStatus}}
          <div>
            <button type="button" class="btn btn-download mb-3" onclick="downloadImage()">Download <i
                class="fa fa-download"></i></button><br>
            <img src="/img/gif/loading_block.gif" style="width:30px;height:30px;display:none" id="loading_download">
          </div>

          <button class="fb-share-button btn btn-primary social-fb mb-2" data-href="https://www.blockdegree.org"
            data-layout="button_count" data-size="large">
            <a target="_blank"
              href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fblockdegree.org%2F&amp;src=sdkpreparse"
              class="fb-xfbml-parse-ignore"><i class="fa fa-facebook"></i> Share on Facebook</a>
          </button>

          <p id="social_wrap" class="social-sharing">
            Post on Socials:
          </p>
          {{else}}
          {{/if}}

        </div>
      </div>
      <button class="ITR btn btn-primary" type="button"
        onclick="window.location.replace('https://www.blockdegree.org/blockchain-basic-course-for-engineer-exam')" /><i
        class="fa fa-arrow-left"></i> Retake Exam</button>

      {{else if exam.examAdvanced}}

      <div class="card mb-4">
        <div class="card-body bg-light">
          <h3 class="exam-qns exam-result-subHeading">Blockchain Advanced Result</h3>

          <ul class="list-group list-group-flush mb-4">
            <li class="list-group-item border-top-0"><span>Total Questions :</span> {{{total}}}</li>
            <li class="list-group-item"><span>Marks :</span> {{{obtainedMarks}}}</li>
            <li class="list-group-item"><span>Percentage :</span> <span class="round-off">{{{percent}}}</span> %</li>
            {{#if examStatus}}
            <li class="list-group-item"><span>Certificate Hash :</span> <a href="https://ipfs-gateway.xinfin.network/{{certificateHash}}" target="_blank">{{{certificateHash}}}<a></li>
            <li class="list-group-item border-bottom-0"><span>Exam Status :</span> <span
                class="greenText fw-6">PASS</span></li>
            {{else}}
            <li class="list-group-item border-bottom-0"><span>Exam Status :</span> <span
                class="redText fw-6">FAIL</span>
              {{/if}}
          </ul>
          {{#if examStatus}}
          <div>
            <button type="button" class="btn btn-download mb-3" onclick="downloadImage()">Download <i
                class="fa fa-download"></i></button><br>
            <img src="/img/gif/loading_block.gif" style="width:30px;height:30px;display:none" id="loading_download">
          </div>

          <button class="fb-share-button btn btn-primary social-fb mb-2" data-href="https://www.blockdegree.org"
            data-layout="button_count" data-size="large">
            <a target="_blank"
              href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fblockdegree.org%2F&amp;src=sdkpreparse"
              class="fb-xfbml-parse-ignore"><i class="fa fa-facebook"></i> Share on Facebook</a>
          </button>

          <p id="social_wrap" class="social-sharing">
            Post on Socials:
          </p>
          {{else}}
          {{/if}}
          
        </div>
      </div>
      <!--<input class="ITR" type="button" value="Retake Exam" onclick="window.location.replace('https://www.blockdegree.org/blockchain-advanced-exam')" />-->
      <button class="ITR btn btn-primary" type="button"
        onclick="window.location.replace('https://www.blockdegree.org/blockchain-advanced-exam')" /><i
        class="fa fa-arrow-left"></i> Retake Exam</button>

      {{else if exam.examProfessional}}

      <div class="card mb-4">
        <div class="card-body bg-light">
          <h3 class="exam-qns exam-result-subHeading">Blockchain Professional Result</h3>

          <ul class="list-group list-group-flush mb-4">
            <li class="list-group-item border-top-0"><span>Total Questions :</span> {{{total}}}</li>
            <li class="list-group-item"><span>Marks :</span> {{{obtainedMarks}}}</li>
            <li class="list-group-item"><span>Percentage :</span> <span class="round-off">{{{percent}}}</span> %</li>
            {{#if examStatus}}
            <li class="list-group-item"><span>Certificate Hash :</span> <a href="https://ipfs-gateway.xinfin.network/{{certificateHash}}" target="_blank">{{{certificateHash}}}<a></li>
            <li class="list-group-item border-bottom-0"><span>Exam Status :</span> <span
                class="greenText fw-6">PASS</span></li>
            {{else}}
            <li class="list-group-item border-bottom-0"><span>Exam Status :</span> <span
                class="redText fw-6">FAIL</span>
              {{/if}}
          </ul>

          {{#if examStatus}}
          <div>
            <button id="download-cert-btn" type="button" class="btn btn-download mb-3"
              onclick="downloadImage()">Download <i class="fa fa-download"></i></button><br>
            <img src="/img/gif/loading_block.gif" style="width:30px;height:30px;display:none" id="loading_download">
          </div>

          <button id="fb-share-cert-btn" class="fb-share-button btn btn-primary social-fb mb-2"
            data-href="https://www.blockdegree.org" data-layout="button_count" data-size="large">
            <a target="_blank"
              href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fblockdegree.org%2F&amp;src=sdkpreparse"
              class="fb-xfbml-parse-ignore"><i class="fa fa-facebook"></i> Share on Facebook</a>
          </button>

          <p id="social_wrap" class="social-sharing">
            Post on Socials:
          </p>
          {{else}}
          {{/if}}

          
        </div>
      </div>
      <!--<input class="ITR" type="button" value="Retake Exam" onclick="window.location.replace('https://www.blockdegree.org/blockchain-professional-exam')" />-->
      <button class="ITR btn btn-primary" type="button"
        onclick="window.location.replace('https://www.blockdegree.org/blockchain-professional-exam')" /><i
        class="fa fa-arrow-left"></i> Retake Exam</button>

      {{else if exam.examComputing}}

        <div class="card mb-4">
        <div class="card-body bg-light">
          <h3 class="exam-qns exam-result-subHeading">Cloud Computing Result</h3>

          <ul class="list-group list-group-flush mb-4">
            <li class="list-group-item border-top-0"><span>Total Questions :</span> {{{total}}}</li>
            <li class="list-group-item"><span>Marks :</span> {{{obtainedMarks}}}</li>
            <li class="list-group-item"><span>Percentage :</span> <span class="round-off">{{{percent}}}</span> %</li>
            {{#if examStatus}}
            <li class="list-group-item"><span>Certificate Hash :</span> <a href="https://ipfs-gateway.xinfin.network/{{certificateHash}}" target="_blank">{{{certificateHash}}}<a></li>
            <li class="list-group-item border-bottom-0"><span>Exam Status :</span> <span
                class="greenText fw-6">PASS</span></li>
            {{else}}
            <li class="list-group-item border-bottom-0"><span>Exam Status :</span> <span
                class="redText fw-6">FAIL</span>
              {{/if}}
          </ul>

          {{#if examStatus}}
          <div>
            <button id="download-cert-btn" type="button" class="btn btn-download mb-3"
              onclick="downloadImage()">Download <i class="fa fa-download"></i></button><br>
            <img src="/img/gif/loading_block.gif" style="width:30px;height:30px;display:none" id="loading_download">
          </div>

          <button id="fb-share-cert-btn" class="fb-share-button btn btn-primary social-fb mb-2"
            data-href="https://www.blockdegree.org" data-layout="button_count" data-size="large">
            <a target="_blank"
              href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fblockdegree.org%2F&amp;src=sdkpreparse"
              class="fb-xfbml-parse-ignore"><i class="fa fa-facebook"></i> Share on Facebook</a>
          </button>

          <p id="social_wrap" class="social-sharing">
            Post on Socials:
          </p>
          {{else}}
          {{/if}}

          
        </div>
      </div>
      <!--<input class="ITR" type="button" value="Retake Exam" onclick="window.location.replace('https://www.blockdegree.org/blockchain-professional-exam')" />-->
      <button class="ITR btn btn-primary" type="button"
        onclick="window.location.replace('https://www.blockdegree.org/cloud-computing-exam')" /><i
        class="fa fa-arrow-left"></i> Retake Exam</button>

      {{else if exam.examWallet}}

        <div class="card mb-4">
        <div class="card-body bg-light">
          <h3 class="exam-qns exam-result-subHeading">Blockchain Wallet Result</h3>

          <ul class="list-group list-group-flush mb-4">
            <li class="list-group-item border-top-0"><span>Total Questions :</span> {{{total}}}</li>
            <li class="list-group-item"><span>Marks :</span> {{{obtainedMarks}}}</li>
            <li class="list-group-item"><span>Percentage :</span> <span class="round-off">{{{percent}}}</span> %</li>
            {{#if examStatus}}
            <li class="list-group-item"><span>Certificate Hash :</span> <a href="https://ipfs-gateway.xinfin.network/{{certificateHash}}" target="_blank">{{{certificateHash}}}<a></li>
            <li class="list-group-item border-bottom-0"><span>Exam Status :</span> <span
                class="greenText fw-6">PASS</span></li>
            {{else}}
            <li class="list-group-item border-bottom-0"><span>Exam Status :</span> <span
                class="redText fw-6">FAIL</span>
              {{/if}}
          </ul>

          {{#if examStatus}}
          <div>
            <button id="download-cert-btn" type="button" class="btn btn-download mb-3"
              onclick="downloadImage()">Download <i class="fa fa-download"></i></button><br>
            <img src="/img/gif/loading_block.gif" style="width:30px;height:30px;display:none" id="loading_download">
          </div>

          <button id="fb-share-cert-btn" class="fb-share-button btn btn-primary social-fb mb-2"
            data-href="https://www.blockdegree.org" data-layout="button_count" data-size="large">
            <a target="_blank"
              href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fblockdegree.org%2F&amp;src=sdkpreparse"
              class="fb-xfbml-parse-ignore"><i class="fa fa-facebook"></i> Share on Facebook</a>
          </button>

          <p id="social_wrap" class="social-sharing">
            Post on Socials:
          </p>
          {{else}}
          {{/if}}

          
        </div>
      </div>
      <!--<input class="ITR" type="button" value="Retake Exam" onclick="window.location.replace('https://www.blockdegree.org/blockchain-professional-exam')" />-->
      <button class="ITR btn btn-primary" type="button"
        onclick="window.location.replace('https://www.blockdegree.org/blockchain-wallet-exam')" /><i
        class="fa fa-arrow-left"></i> Retake Exam</button>

      {{/if}}
      {{!--<ul>
          <li>
            <span><strong>We can shortly send your Certifiacte in your Maild ID</strong></span>
          </li>
        </ul>--}}
      {{!-- <div class="text-right">
        <input id="exam-submit" type="submit" class="btn btn-primary py-2 mt-4 text-white" value="Submit your answers">
      </div> --}}
    </form>
  </div>



  <div class="modal fade" id="postTwitter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">


      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Twitter Post</h3>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        <div class="modal-body">
          <div class="mb-3"><input type="checkbox" id="certiLinkTwitter"> Include link to Certificate<br></div>
          <p><textarea cols="30" rows="3"
              id="postMSGTwitter">Hey, I just got certified in blockchain from Blockdegree.org, check it out !!</textarea>
          </p>

          <div>
            <div><img src="/img/gif/loading_block.gif" style="width:300px;height:300px;display:block;margin:0 auto;"
                id="modalImageTwitter"></div>
            <button type="button" id="twitter-share-cert-btn" class="btn btn-primary social-tw mt-3"
              onclick="postTweet()"><i class="fa fa-twitter"></i> Post On Twitter
            </button>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>


  <div class="modal fade" id="postLinkedin" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Linkedin Post</h3>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        <div class="modal-body">
          <div class="mb-3"><input type="checkbox" id="certiLinkLinkedin"> Include link to Certificate<br></div>
          <p><textarea cols="30" rows="3"
              id="postMSGLinkedin">Hey, I just got certified in blockchain from Blockdegree.org, check it out !!</textarea>
            <div>
              <div><img src="/img/gif/loading_block.gif" style="width:300px;height:300px;display:block;margin:0 auto;"
                  id="modalImageLinkedin"></div>
              <button type="button" id="linkedin-share-cert-btn" class="btn btn-primary social-li mt-3"
                onclick="postLinkedin()"><i class="fa fa-linkedin"></i> Post On Linkedin
              </button>
            </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>
<script src="/js/exam.js?v=1.21"></script>

<script>


  const msg = "Hey, I just got certified in blockchain from Blockdegree.org, check it out !!"
  let postTwitterBool = false,
    postLinkedinBool = false;
  window.onload = function () {
    checkAuth();
  }

  history.pushState(null, null, location.href);
  window.onpopstate = function () {
    history.go(1);
  };

  window.onbeforeunload = function (event) {
    event.returnValue = "Something clever"
  }

  window.addEventListener(
    "message",
    function (event) {
      console.log(event.origin);
      if (event.origin == "https://www.blockdegree.org" && event.data == "ok") {
        if (postLinkedinBool) {
          showImageModal(`Linkedin`);
          $("#postLinkedin").modal("show");
          postLinkedinBool = false;
        }
        if (postTwitterBool) {
          showImageModal(`Twitter`)
          $("#postTwitter").modal("show");
          postTwitterBool = false
        }
        checkAuth()
      }
    },
    false
  );

  async function downloadImage() {
    console.log("inside download");
    document.getElementById("loading_download").style = "width:30px;height:30px;display:inline";
    var xhr = new XMLHttpRequest();
    xhr.open('POST', "/api/downloadCertificate", true);
    xhr.responseType = 'arraybuffer';
    xhr.onload = function () {
      if (this.status === 200) {
        var filename = "";
        var disposition = xhr.getResponseHeader('Content-Disposition');
        if (disposition && disposition.indexOf('attachment') !== -1) {
          var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
          var matches = filenameRegex.exec(disposition);
          if (matches != null && matches[1]) filename = matches[1].replace(/['"]/g, '');
        }
        var type = xhr.getResponseHeader('Content-Type');

        var blob = typeof File === 'function'
          ? new File([this.response], filename, { type: type })
          : new Blob([this.response], { type: type });
        if (typeof window.navigator.msSaveBlob !== 'undefined') {
          // IE workaround for "HTML7007: One or more blob URLs were revoked by closing the blob for which they were created. These URLs will no longer resolve as the data backing the URL has been freed."
          window.navigator.msSaveBlob(blob, filename);
        } else {
          document.getElementById('loading_download').style = "display:none";
          var URL = window.URL || window.webkitURL;
          var downloadUrl = URL.createObjectURL(blob);

          if (filename) {
            // use HTML5 a[download] attribute to specify filename
            var a = document.createElement("a");
            // safari doesn't support this yet
            if (typeof a.download === 'undefined') {
              window.location = downloadUrl;
            } else {

              a.href = downloadUrl;
              a.download = filename;
              document.body.appendChild(a);
              a.click();
            }
          } else {
            window.location = downloadUrl;
          }
        }
      }
      else {
        $.notify("Looks like some error has occured, please try again", { type: "danger" })
      }
    };
    xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
    xhr.send($.param({ hash: "{{ certificateHash }}" }));
  }

  function checkAuth() {
    console.log("called")
    let examStatus = "{{examStatus}}";
    if (examStatus == "true") {
      $.ajax({
        url: "/api/getAuthStatus",
        method: "post",
        data: {},
        success: (result) => {
          // setting up a hidden html.
          // to be replaced by : pop-up modal for post, async call to /api/shareSocial and  
          let retHTML = '<form target="_blank" method="post" action="/api/shareOnTwitter">' +
            '                <input type="hidden" placeholder="Enter post status" name="msg" />' +
            '                <input type="hidden" />' +
            '              </form>'
          console.log(result)
          if (result.twitterAuth) {
            // ---------------TWITTER MODAL----------------------------------
            // signed in with twitter, show share button
            retHTML += '<button type="button" class="btn btn-primary social-tw" onclick="showImageModal(`Twitter`)" data-toggle="modal" data-target="#postTwitter"><i class="fa fa-twitter social"></i> Post on Twitter</button>'

          } else {
            retHTML += '<div>' +
              '<button type="button" id="twitter-auth-cert-btn" class="btn btn-primary social-tw mt-2" onclick="handleAuthTwitter()">Link & Post Twitter</button>' +
              '</div>';
          }
          if (result.linkedinAuth) {
            //------------------LINKEDIN MODAL--------------------------------------
            retHTML += '<button type="button" class="btn btn-primary social-li" onclick="showImageModal(`Linkedin`)" data-toggle="modal" data-target="#postLinkedin">Post on Linkedin</button>'

          }
          else {
            retHTML += '<div>' +
              '<button type="button" id="linkedin-auth-cert-btn" class="btn btn-primary social-li mt-2" onclick="handleAuthLinkedin()">Link & Post on Linkedin</button>' +
              '</div>';
          }
          document.getElementById("social_wrap").innerHTML = retHTML;
        }
      })
    }

  }

  function showImageModal(social) {
    console.log("inside download");
    var xhr = new XMLHttpRequest();
    xhr.open('POST', "/api/downloadCertificate", true);
    xhr.responseType = 'arraybuffer';
    xhr.onload = function () {
      if (this.status === 200) {
        var filename = "";
        var disposition = xhr.getResponseHeader('Content-Disposition');
        if (disposition && disposition.indexOf('attachment') !== -1) {
          var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
          var matches = filenameRegex.exec(disposition);
          if (matches != null && matches[1]) filename = matches[1].replace(/['"]/g, '');
        }
        var type = xhr.getResponseHeader('Content-Type');

        var blob = typeof File === 'function'
          ? new File([this.response], filename, { type: type })
          : new Blob([this.response], { type: type });
        if (typeof window.navigator.msSaveBlob !== 'undefined') {
          // IE workaround for "HTML7007: One or more blob URLs were revoked by closing the blob for which they were created. These URLs will no longer resolve as the data backing the URL has been freed."
          window.navigator.msSaveBlob(blob, filename);
        } else {
          var URL = window.URL || window.webkitURL;
          document.querySelector(`#modalImage${social}`).src = URL.createObjectURL(blob);
        }
      }
      else {
        $.notify("Looks like some error has occured, please try again", { type: "danger" })
      }
    };
    xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
    xhr.send($.param({ hash: "{{ certificateHash }}" }));
  }

  function postTweet() {
    let userMSG = document.getElementById("postMSGTwitter").value;
    let certiLink = document.getElementById("certiLinkTwitter").checked;
    $.post({
      method: "post",
      url: "/api/checkTweetCharacters",
      data: { tweet: userMSG, includeLink: certiLink },
      success: result => {
        if (!result.valid) {
          $.notify("Max tweet character exceeded, please shorten your msg", {
            type: "danger"
          });
        }
        else {
          $.notify("Your post is now being submitted, please wait a few seconds.");
          $.ajax({
            method: 'post',
            url: '/api/shareOnTwitter',
            data: { hash: "{{certificateHash}}", certiLink: certiLink, msg: userMSG },
            success: (result) => {
              console.log(result);
              if (result.uploaded) {
                $.notify("Successfully posted on twitter!", { type: "success" });
              } else {
                $.notify("Oops, error occured while posting!", { type: "danger" });
              }
            }
          });
        }
      },
      error: xhr => {
        if (xhr.status == 429) {
          $.notify(
            "Looks like a lot of people are using this API, please try again after sometime",
            { type: "danger" }
          );
        } else {
          $.notify(
            "Some error has occured, please tray again after sometime",
            { type: "danger" }
          );
        }
      }
    })
    $('#postTwitter').modal('hide');
  }

  function postLinkedin() {
    let userMSG = document.getElementById("postMSGLinkedin").value;
    let certiLink = document.getElementById("certiLinkLinkedin").checked;
    $.notify("Your post is now being submitted, please wait a few seconds.");
    $.ajax({
      method: 'post',
      url: '/api/shareOnLinkedin',
      data: { hash: "{{certificateHash}}", msg: userMSG, certiLink: certiLink },
      success: (result) => {
        console.log(result);
        if (result.uploaded) {
          $.notify("Successfully posted on linkedin!", { type: "success" });
        } else {
          $.notify("Oops, error occured while posting!", { type: "danger" });
        }
      }
    });
    $('#postLinkedin').modal('hide');
  }

  function handleAuthTwitter() {
    postTwitterBool = true;
    let win = window.open("https://www.blockdegree.org/auth/twitter?close=true", 'newwin', 'height=600px,width=600px');
  }

  function handleAuthLinkedin() {
    postLinkedinBool = true;
    var win = window.open("https://www.blockdegree.org/auth/linkedin?close=true", 'newwin', 'height=600px,width=600px');
  }

</script>