<html><head>
</head>
<body>
<div style="width:900px;margin: 0 auto; height:700px; padding:20px; text-align:center;">
<div style="width:850px; height:650px; padding:20px; text-align:center; border: 8px solid #DAA520	; background: url('http://iceducation.ca/wp-content/uploads/2018/01/certificate-background-8019.png'); background-size: cover">
  <div style="padding-top:80px; padding-bottom:20px;">
    <img src="https://xinfin.org/assets/images/logo-dark.png" ALT="XinFinHybridBlockchain" width="90" height="90"  >
  </div>
      <p hidden><%= rndDgt %></p>
       <span style="font-size:50px; font-weight:bold">Certificate of Completion</span>
       <br><br>
       <span style="font-size:25px"><i>This is to certify that</i></span>
       <br><br>
       <span style="font-size:25px"><b><%= name %></b></span><br/><br/>
       <span style="font-size:25px"><i>has completed the course</i></span> <br/><br/>
       <span style="font-size:25px"><%= course %></span> <br/><br/>
       <span style="font-size:20px">with score of  <b><%= score %> %</b></span> <br/><br/>
       <span style="font-size:25px"><i>Dated</i></span><br>
       <span style="font-size:20px"><%= date %></span>
</div>
</div>
</body>
</html>
